<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pr20_levenec">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pr20_Levenec"
        tools:ignore="DataExtractionRules">

        <!-- Стартовый экран — теперь он запускается первым -->
        <activity
            android:name=".StartScreenActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            tools:ignore="DiscouragedApi,LockedOrientationActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Основной экран — открывается после заставки -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="false"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

    </application>
</manifest>